<template name="myCoupons">
    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="home" text="Home"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
      <h2 class="title">My coupons</h2>
    {{/contentFor}}

    {{#ionView}}
      {{#ionContent}}
      {{#if Template.subscriptionsReady}}
      <div class="list">
        {{#each coupon}}
         <a class="item item-avatar" href="#">
            <img src="{{picture}}">
            <h2>{{code}}</h2>
            <p>{{name}}</p>
          </a>
          {{/each}}
      </div>
      {{else}}
        Loading..
      {{/if}}
      
      {{/ionContent}}
    {{/ionView}}
</template>