<template name="trending">

	<style type="text/css">
		.h-space{
			padding-left: 5px;
		}

		.blend{
			background-color: #fafafa;
		}
	</style>

	 <div class="trending">	
		<div class="row row-center">
			<div class="col text-center header-text">
	   			<i class="fa fa-chevron-circle-up"></i> Trending Requests 
	   			{{#if Template.subscriptionsReady}}
	   			{{else}}
	   			<div class="row row-center">
	   				<div class="col col-33 col-offset-33">
	   					{{>loading}}         				
	   				</div>
	   			</div> 
	   			{{/if}}
	   	</div>   
		</div>
	  <div class="row">
	    <div class="col">
				{{#if Template.subscriptionsReady}}
					{{#if noRequests}}


					{{else}}
					{{#each request}}
					<!-- <div class="list card">

					  <div class="item item-body blend">
					    <img class="full-image viewRequest" src="{{picture}}">
					    <p>
					      <a href="#" class="subdued like"> <i class="fa fa-chevron-up fa-2X"></i>
					      {{votes}} </a>
					      <span class="h-space"><b>{{name}}</b></span>
					    </p>
					    <p>
					      {{description}}
					    </p>		  
					  </div>
					</div> -->

					<div class="ui card" style=" width:70%;
    margin: 0 auto; margin-bottom: 10px;">
					   <div class="image">
					     <img src="{{picture}}" class="viewRequest">
					   </div>
					   <div class="content">
					     <div class="header">{{name}}</div>
					     <div class="description">
					       {{description}}
					     </div>
					   </div>
					   <div class="extra content">
					     <span class="right floated">
					       {{fromNow}}
					     </span>
					     <span>
					       <a href="#" class="subdued like"> <i class="fa fa-chevron-up fa-2X"></i>
					       {{votes}} </a>
					     </span>
					   </div>
					 </div>

					{{/each}}
					{{/if}}
				{{else}}
				
				{{/if}}

				<button style="display: none" data-ion-modal="requestModal" id="requestModalOpen">
				</button>
	    </div>
	  </div>						      	
	 </div>
	

</template>