<template name="request">
		{{#contentFor "headerButtonLeft"}}
		  {{>ionNavBackButton path="home" text="Home"}}
		{{/contentFor}}

		{{#contentFor "headerTitle"}}
		  <h2 class="title">Request</h2>
		{{/contentFor}}

		{{#ionView}}
		  {{#ionContent}}
	  	<div class="list">
	  	  <label class="item item-input item-floating-label">
	  	    <span class="input-label">Product name</span>
	  	    <input type="text" placeholder="Name" id="name">
	  	  </label>
	  	  <label class="item item-input item-floating-label">
	  	    <span class="input-label">Description</span>
	  	    <input type="text" placeholder="brief description of product" id="description">
	  	  </label>
	  	  <label class="item item-input item-floating-label">
	  	    <span class="input-label">product webpage if any(optional)</span>
	  	    <input type="text" placeholder="product webpage if any(optional)" id="url">
	  	  </label>
	  	  <label class="item item-input  item-select">
	  	  <span class="input-label">
	  	       Category
	  	     </span>
	  	     <select id="category">
	  	     {{#each category}}
	  	       <option>{{this}}</option>
	  	     {{/each}}
	  	     </select>
	  	  </label>
	  	  <label class="item item-input item-floating-label">
	  	  	<a class="button button-block button-royal" id="upload">
	  	  	  {{#if image}}Image selected{{else}}Upload picture  {{/if}}
	  	  	</a>
	  	    <span class="input-label">Picture</span>
	  	    <input type="text" placeholder="Or place a url here" id="picture">
	  	  </label>
	  	</div>
	
			<br>
			<button class="button button-full button-balanced button-large" id="submit">
			  Submit
			</button> 
		  {{/ionContent}}
		{{/ionView}}
</template>