<template name="myRequests">

{{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton path="home" text="Home"}}
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h2 class="title">My Requests</h2>
{{/contentFor}}
      {{#ionView}}
        {{#ionContent}}
  
           <div > 
            <div class="row row-center">
              <div class="col text-center header-text">
                  <i class="fa fa-chevron-circle-up"></i> Trending Requests 
                  {{#if Template.subscriptionsReady}}
                  {{else}}
                  <div class="row row-center">
                    <div class="col col-33 col-offset-33">
                      {{>loading}}                
                    </div>
                  </div> 
                  {{/if}}
              </div>   
            </div>
            <div class="row">
              <div class="col">
                {{#if Template.subscriptionsReady}}
                  {{#if noRequests}}

                    <div class="light-text">No Requests here yet.</div>
                  {{else}}
                  {{#each request}}
                  <!-- <div class="list card">

                    <div class="item item-body blend">
                      <img class="full-image viewRequest" src="{{picture}}">
                      <p>
                        <a href="#" class="subdued like"> <i class="fa fa-chevron-up fa-2X"></i>
                        {{votes}} </a>
                        <span class="h-space"><b>{{name}}</b></span>
                      </p>
                      <p>
                        {{description}}
                      </p>      
                    </div>
                  </div> -->

                  <div class="ui card" style=" width:70%;
             margin: 0 auto; margin-bottom: 10px;">
                     <div class="image">
                       <img src="{{picture}}" class="viewRequest">
                     </div>
                     <div class="content">
                       <div class="header">{{name}}</div>
                       <div class="description">
                         {{description}}
                       </div>
                     </div>
                     <div class="extra content">
                       <span class="right floated">
                         {{fromNow}}
                       </span>
                       <span>
                         <a href="#" class="subdued like"> <i class="fa fa-chevron-up fa-2X"></i>
                         {{votes}} </a>
                       </span>
                     </div>
                   </div>

                  {{/each}}
                  {{/if}}
                {{else}}
                
                {{/if}}

                <button style="display: none" data-ion-modal="requestModal" id="requestModalOpen">
                </button>
              </div>
            </div>                    
           </div>

        {{/ionContent}}
      {{/ionView}}
</template>