<template name="cityModal">
  {{#ionModal title="Your city"}}
    <div class="padding">
     	<div class="list">
          <label class="item item-input  item-select">
          <span class="input-label">
               Your city
             </span>
             <select id="city">
                {{#each city}}
               <option>{{this}}</option>
               {{/each}}
             </select>
          </label>
        </div>
     	<button class="button button-block button-positive" id="setCity">
     	  Done
     	</button>
    </div>
  {{/ionModal}}
</template>