<template name="signIn">
		{{#contentFor "headerButtonLeft"}}
		  {{>ionNavBackButton path="home" text="Home"}}
		{{/contentFor}}

		{{#contentFor "headerTitle"}}
		  <h2 class="title">Sign in</h2>
		{{/contentFor}}

		{{#ionView}}
		  {{#ionContent}}

		  <br><br>


			<a class="button button-full button-large" id="loginFacebook">
				<i class="fa fa-facebook-official"></i> 
			  Facebook
			</a>
			<a class="button button-full button-large" id="loginGoogle">
				<i class="fa fa-google-plus"></i> 
			 	Google
			</a>
			<a class="button button-full button-large" id="loginTwitter">
				<i class="fa fa-twitter"></i> 
			  Twitter
			</a>


			<button style="display: none" data-ion-modal="cityModal" id="citySet">
			</button>
		  {{/ionContent}}
		{{/ionView}}
</template>