<template name="home">
    {{#ionView}}
      {{#ionContent}}
         <div class="face-tagging">
         		<div class="row">
							<div class="col text-center header-text" style="padding-top: 20px;padding-bottom: 20px;">
		         			Request
		         	</div>
         		</div>
            <div class="row">
              <img src="/images/home/test.svg" class="face-svg" id="faceTagging">   
            </div>         				      								
         </div>  
	 
       {{>trending}}

      {{/ionContent}}
    {{/ionView}}
    
</template>