.face-tagging{
   height: 40%;
   max-height: 580px;
   background-color: #fdc233;
}

.trending{
   background-color: #138fc8;
   min-height: 400px;
}

.header-text{
  font-family : Open Sans;
  font-size: 1.2em;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}

.face-svg{
   width: 100%;
   max-width: 180px;
   height: auto;
   max-height: 200px;
   margin-left: auto;
   margin-right:auto

}

/*#faceTagging {
  -webkit-animation-duration: 0.4s;
}*/