<template name="requestModal">

  {{#ionModal title="Status"}}
    {{#with request}}
    <div class="padding">
      <a class="item item-avatar" href="#">
        <img src="{{picture}}">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
      </a>
      <br>
      <!-- todo -->
      <b>Demand</b> : {{votes}}
      <b>Available</b>: {{avail}}
      {{#if admin}}
      <button class="button button-full button-positive mark">
        Mark Available
      </button>
      {{else}}
      <button class="button button-full button-balanced like">
        Upvote
      </button>
      {{/if}}
      
      <br>
      
      {{#if Template.subscriptionsReady}}
      {{#with demand}}
        <div class="ui three statistics">
          <div class="statistic">
            <div class="value">
              {{Delhi}}
            </div>
            <div class="label">
              Delhi
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              {{Mumbai}}
            </div>
            <div class="label">
              Mumbai
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              {{Kolkata}}
            </div>
            <div class="label">
              Kolkata
            </div>
          </div>
        </div>

      {{/with}}

      {{else}}
        Loading stats...
      {{/if}}
    
      <br>
      <h3>Discussion</h3>
      <!-- todo -->
     

      
      <div class="ui comments">
       {{#each comment}}
        <div class="comment">
          <a class="avatar">
            <img src="{{userProfile.picture}}">
          </a>
          <div class="content">
            <a class="author">{{userProfile.name}}</a>
            <div class="text">
              {{content}}
            </div>
          </div>          
        </div>
        {{/each}}

      </div>
      
    </div>
    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Add comment.." id="comment">
        </label>
        <button class="button button-small" id="submitComment">
          submit
        </button>
      </div>

    </div>
    <button class="button button-block button-positive" id="done">
      close
    </button>
    {{/with}}
  {{/ionModal}}
</template>