<template name="layout">
	{{#ionBody}}

	  {{#ionSideMenuContainer}}

	    {{#ionSideMenus}}

	      {{#ionSideMenu side="right"}}

	        <div class="content has-header">
	          <div class="list">

	          	
	            <div class="item item-icon-left" data-ion-menu-close>
	              {{> ionIcon icon="ios-arrow-left"}} Close Me
	            </div>
	            <div class="item" onclick="Router.go('/');
	            $('*[data-ion-menu-close]').click();">
	             <i class="fa fa-home fa-2x"
	             style="padding-right: 10px;"></i> Home
	            </div>
	            {{#if currentUser}}
  						

  						<div class="item" onclick="Router.go('myRequests');$('*[data-ion-menu-close]').click();">
              	<i class="fa fa-folder-open-o fa-2x"
	             style="padding-right: 10px;"></i>My Requests
              </div>
              <div class="item" onclick="Router.go('myCoupons');$('*[data-ion-menu-close]').click();">
              	<i class="fa fa-angellist fa-2x"
	             style="padding-right: 10px;"></i>My Coupons
              </div>

							<div class="item signOut" onclick="logout();">
            	<i class="fa fa-sign-out fa-2x"
             style="padding-right: 10px;"></i>
	            	Sign out
	            </div>
	   <!--            {{#if faceTaggingOutput}}
	  							<div class="item" onclick="savePicture();">
	  							 <i class="fa fa-save"
	  							 style="padding-right: 10px;"></i> Save
	  							</div>	
	              {{/if}} -->
	         
							{{else}}
							<div class="item signIn" onclick="login();">
							 <i class="fa fa-user fa-2x"
							 style="padding-right: 10px;"></i> Sign in
							</div>
	            {{/if}}
	            <div class="item" onclick="toggleAdmin();">
	             <i class="fa fa-space-shuttle fa-2x"
	             style="padding-right: 10px;"></i>Admin:{{state}}
	            </div>

	          </div>
	        </div>

	      {{/ionSideMenu}}

	    {{/ionSideMenus}}


	    {{#ionSideMenuContent}}

        {{>ionNavBar class=getBarStyle}}

	      {{#ionNavView}}
	        {{> yield}}
	      {{/ionNavView}}

	    {{/ionSideMenuContent}}

	  {{/ionSideMenuContainer}}

	{{/ionBody}}

</template>